*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Corito-letra;
    src: url(../fuentes/Montserrat-VariableFont_wght.ttf);
    font-weight: 100 900;
    font-style: normal;
}

:root {
    --ColorPrincipalAzul: #082B59;
}

/* ---------------------CCS INDEX.HTML - SEBASTIAN------------------------ */
.menu {
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 70px;
    background-color: #FFFFFF;
}

.menu img {
    width: 180px;
    height: auto;
    object-fit: cover;
    margin-left: -90px;
}

.menu ul {
    display: flex;
    align-items: center;
    gap: 35px;
    list-style: none;
}

.menu ul li a {
    color: var(--ColorPrincipalAzul);
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
    text-decoration: none;
}

.menu ul li a:hover {
    color: #09638C;
}

.menu ul li a.activo {
    color: var(--ColorPrincipalAzul);
    text-decoration: underline;
  
    text-underline-offset: 6px;
}

.menu ul li .azul {
    background-color: var(--ColorPrincipalAzul);
    color: #FFFFFF;
    padding: 13px 22px;
    border-radius: 10px;
}

.menu ul li .azul:hover {
    background-color: #09638C;
    color: #FFFFFF;
}

.inicio-centro {
    position: relative;
    width: 100%;
    height: 650px;
    overflow: hidden;
}

.imagen-hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 0;
}

.contenido-centro {
    position: absolute;
    top: 220px;
    left: 8px;
    width: 600px;
    z-index: 5;
    padding-top: 80px;
    padding-left: 5%;
    max-width: 650px;
}

.contenido-centro h1 {
    color: var(--ColorPrincipalAzul);
    font-size: 52px;
    font-weight: bold;
    margin-bottom: 5px;
}

.contenido-centro h2 {
    color: #09638C;
    font-size: 52px;
    font-weight: bold;
    margin-bottom: 20px;
}

.contenido-centro p {
    width: 520px;
    color: #232323;
    font-size: 19px;


}

.inicio-centro form {
    position: absolute;
    left: 8%;
    bottom: -45px;
    width: 84%;
    z-index: 5;
}

.busqueda {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 1100px;
    display: grid;
    grid-template-columns: 1.4fr 1fr 1fr 1fr auto;
    gap: 18px;
    align-items: end;
    padding: 22px 25px;
    background-color: #FFFFFF;
    border: 1px solid #D6D6D6;
    border-radius: 22px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    z-index: 6;
    min-height: 115px;
    align-items: center;
}

.campo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    min-height: 75px;
}

.campo label {
    margin-bottom: 8px;
    color: #082B59;
    font-size: 16px;
    font-weight: bold;
}

.campo input,
.campo select {
    width: 100%;
    height: 55px;
    padding: 0 12px;
    background-color: #FFFFFF;
    border: 1px solid #AAAAAA;
    border-radius: 10px;
    color: #082B59;
    box-sizing: border-box;
    font-size: 15px;
    min-height: 45px;
}

.campo input:focus,
.campo select:focus {
    border: 2px solid #082B59;
}

.busqueda button {
    height: 55px;
    padding: 0 25px;
    background-color: #082B59;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 80px;
}

.busqueda button:hover {
    background-color: #09638C;
}

.ofertas {
    width: 84%;
    margin: 110px auto 60px;
}

.titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.titulo h2 {
    color: var(--ColorPrincipalAzul);
    font-size: 30px;
    font-weight: bold;
}

.titulo a {
    color: #09638C;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
}

.cuadros {
    display: flex;
    gap: 30px;
}

.cuadro {
    width: 33.33%;
    background-color: white;
    border: 1px solid #D6D6D6;
    border-radius: 25px;
    overflow: hidden;
}

.cuadro img {
    width: 100%;
    height: 210px;
}

.cuadro div {
    padding: 18px 20px;
}

.cuadro h3 {
    color: var(--ColorPrincipalAzul);
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 10px;
}

.cuadro p {
    margin-bottom: 5px;
}

.cuadro p span {
    color: var(--ColorPrincipalAzul);
    font-size: 18px;
    font-weight: bold;
    text-decoration: line-through;
}

.cuadro h4 {
    color: #E61610;
    font-size: 22px;
    font-weight: bold;
}

.ofertas {
    width: 84%;
    margin: 110px auto 60px;
}

.titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.titulo a {
    color: #09638C;
    font-size: 17px;
    font-weight: bold;

}

.cuadros {
    display: flex;
    gap: 30px;
}

.cuadro {
    width: 33.33%;
    background-color: white;
    border: 1px solid #D6D6D6;
    border-radius: 25px;
    overflow: hidden;
    transition: 0.3s all;
}

.cuadro img {
    width: 100%;
    height: 210px;
}

.cuadro div {
    padding: 18px 20px;
}

.cuadro h3 {
    color: var(--ColorPrincipalAzul);
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 10px;
}

.cuadro p {
    margin-bottom: 5px;
}

.cuadro p span {
    color: var(--ColorPrincipalAzul);
    font-size: 18px;
    font-weight: bold;
    text-decoration: line-through;
}

.cuadro h4 {
    color: #E61610;
    font-size: 22px;
    font-weight: bold;
}

.destinos {
    width: 84%;
    margin: 60px auto;
}

.destinos .cuadro h4 {
    color: var(--ColorPrincipalAzul);
    font-size: 20px;
}

.cuadro:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.13);
}

footer {
    width: 100%;
    min-height: 120px;
    background-color: var(--ColorPrincipalAzul);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 50px;
    gap: 30px;
}

.item-footer {
    flex: 1;
    text-align: center;
}

.item-footer h4 {
    color: orange;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}

.item-footer p {
    color: #FFFFFF;
    font-size: 14px;
}

.main-iniciosesion,.main-recuperarC,.main-registro,.main-restablecer {
    background-image: url(../imagenes/Imagen-Inicio.png );
    width: 100%;
    height: 900px;
}
.menu{
    display: flex;
    margin: 10px 20px 10px;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    font-weight: 600; 
   
} 
.micuenta{
    color: #fff;
    font-style: none;
    padding: 10px 10px 15px;
    margin: 10px 10px 15px;
}

a:visited{
    color: #082b59; 
 }


.icono-inicio-sesion{
    background-color: #082b59;
    color: #fff;
    padding: 2px;
}

/* Formularios */
.formulario-inicio{
   position: relative;
   left: 600px;
   border-radius: 10px;
   background-color: #fff;
   width: 50%;
   padding: 0px;
   top: 20px;
   height: 800px; 
}
.formulario-cuenta{
    position: relative;
    left: 600px;
    border-radius: 10px;
    background-color: #fff;
    width: 50%;
    top: 20px;
    padding: 0px;
    margin: 0px;
    height: 850px;
}
.formulario-recuperar-cuenta, .formulario-cuenta-restablecer{
   position:relative;
   left: 400px;
   background-color: #fff;
   width: 50%;
   height:600px;
   top: 50px;
   border-radius: 20px;
   margin: 10px;

}


/* imagen logo */

.logo{
   display: flex;
   justify-content: center;
   margin: 0;
   padding: auto;
}

/* texto central */
.inicio-sesion,.crear-cuenta,.restablecer-contraseña {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight : 2px bold;
    color: #001937;
    text-align: center;
    font-size: 35px;
    padding: auto;
    margin: auto;
}
/* Subtitulos */
.subtitulo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #04295d;
    margin-bottom: 25px;
}
/* Imput eamil */
[for|="email"]{
    padding: 50px;
    margin: 50px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    color: #04295d;

}
/* input contraseña */
[for|="Contraseña"]{
    padding: 50px;
    margin: 50px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    color: #04295d;
    position: relative;
}


/* Boton de enviar  en registrar clientes*/

[type|="submit"]{
   width: 70%;
   height: 50px;
   border-radius: 8px;
   margin-left: 100px;
   background-color: #04295d;
   color: #fff;
}



/* imput email,password  en recuperar cuenta*/
[type|="email"],
[type|="password"],
[type|="text"]{
    border: none;
    font-size: 18px;
    width: 100%;
}


.cambioContraseña{
    display: flex;
    flex-direction: column;
    padding-left: 380px;
    margin: 8px;
}

.opcion{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #04295d;
}
/* IMPUT DE DATOS  EN REGISTRO */

.introducir-correo, 
.introducir-contraseña , .introducir-codigo, .confirmarContraseña, .introducir-telefono, .nombre, .apellido{
  display: flex;
  align-items: center;  
  justify-content: space-around;
  width: 70%;
  height: 50px;               
  border: 1px solid;   
  border-radius: 8px;          
  padding: 0 15px;             
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 20px;
  margin-left: 100px;
}

/* Terminos y condiciones  */
.terminos-condiciones, .confirmacion{
    margin-left: 100px;
    padding: 20px 15px 10px;

}




/* ICONOS */

.fa-facebook, .fa-arrow-left{
    color: #1877f2;
    font-size: 48px;
    margin: 0 25px;
    text-align: center;
    
}
.fa-circle-user{
     color: #fff;
    font-size: 25px;
    margin: 0 5px;
}

.fa-google{
    font-size: 48px;
    color: #db4437;
    margin: 50px 50px ;
    text-align: center;

}
.icono-navegacion{
 display: flex;
 justify-content: center;
 gap: 20px;
}






