*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-iniciosesion,.main-recuperarC,.main-registro,.main-restablecer {
    background-image: url(../imagenes/backgroung-fondo.png );
    width: 100%;
    height: 800px;
}
.menu{
    display: flex;
    margin: 20px 30px 20px;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    font-weight: 600; 
   
} 
.micuenta{
    color: #fff;
    font-style: none;
    padding: 10px 10px 15px;
    margin: 15px 10px 15px;
}

a:visited{
    color: #082b59; 
 }


.icono-inicio-sesion{
    background-color: #082b59;
    color: #fff;
    padding: 2px;
}

/* Formularios */
.formulario-inicio{
   position: relative;
   left: 600px;
   border-radius: 10px;
   background-color: #fff;
   width: 50%;
   padding: 0px;
   top: 20px;
   height: 800px; 
}
.formulario-cuenta{
    position: relative;
    left: 600px;
    border-radius: 10px;
    background-color: #fff;
    width: 50%;
    top: 20px;
    padding: 0px;
    margin: 0px;
    height: 800px;
}
.formulario-recuperar-cuenta, .formulario-cuenta-restablecer{
   position:relative;
   left: 400px;
   background-color: #fff;
   width: 50%;
   height:600px;
   top: 50px;
   border-radius: 20px;
   margin: 10px;

}


/* imagen logo */

.logo{
   display: flex;
   justify-content: center;
   margin: 0;
   padding: auto;
}

/* texto central */
.inicio-sesion,.crear-cuenta,.restablecer-contraseña {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight : 2px bold;
    color: #001937;
    text-align: center;
    font-size: 35px;
    padding: auto;
    margin: auto;
}
/* Subtitulos */
.subtitulo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #04295d;
    margin-bottom: 25px;
}
/* Imput eamil */
[for|="email"]{
    padding: 50px;
    margin: 50px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    color: #04295d;

}
/* input contraseña */
[for|="Contraseña"]{
    padding: 50px;
    margin: 50px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    color: #04295d;
    position: relative;
}
/* input nombre y apellido */
.nombre-apellido{
    position: relative;
    border-radius: 2px #000;
}

/* Boton de enviar */

[type|="submit"]{
   width: 70%;
   height: 50px;
   border-radius: 8px;
   margin-left: 100px;
   background-color: #04295d;
   color: #fff;
}

/* imput email,password, */
[type|="email"],[type|="password"],[type|="text"],[id|="nombre"]{
    border: none;
    font-size: 18px;
    width: 100%;
}
.crear-cuenta{

}



.cambioContraseña{
    display: flex;
    flex-direction: column;
    padding-left: 380px;
    margin: 8px;
}

.opcion{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #04295d;
}


.introducir-correo, 
.introducir-contraseña , .introducir-codigo, .confirmarContraseña, .introducir-telefono{
  display: flex;
  align-items: center;  
  justify-content: space-around;
  width: 70%;
  height: 50px;               
  border: 1px solid;   
  border-radius: 8px;          
  padding: 0 15px;             
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 20px;
  margin-left: 100px;
}

.introducir-nombre{
    display: flex;
}
/* ICONOS */

.fa-facebook, .fa-arrow-left{
    color: #1877f2;
    font-size: 48px;
    margin: 0 25px;
    text-align: center;
    
}
.fa-circle-user{
     color: #fff;
    font-size: 25px;
    margin: 0 5px;
}

.fa-google{
    font-size: 48px;
    color: #db4437;
    margin: 50px 50px ;
    text-align: center;

}
.icono-navegacion{
 display: flex;
 justify-content: center;
 gap: 20px;
}






